.container {
    margin-top: 8rem;
    width: 70vw;
    height: 70vh;
    background-color: #888;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}

.header {
    font-size: 1.5rem;
    font-family: 'Tektur', sans-serif;
    align-self: center;
    flex-wrap: nowrap;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    padding: 3rem;

    gap: .5rem;
}

.Name {
    height: 3rem;
    align-self: center; 
    flex-wrap: nowrap;
    width: 90%;
}

.Email {
    height: 3rem;
    align-self: center; 
    flex-wrap: nowrap;
    width: 90%;
}

.Message {

    height: 8rem;
    align-self: center; 
    flex-wrap: nowrap;
    width: 90%;

}

.Submit {
    width: 50%;
    align-self: center; 
    flex-wrap: nowrap;
    height: 2.7rem;
    border-radius: .5em;
    background-color: rgb(15, 71, 121);
    font-weight: 600;
    font-size: 1.5rem;
   
}

.Submit:hover {
    background-color: rgb(22, 96, 161);
}