#searchBar{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin: .25rem 1rem;
  border-bottom: 1px solid black;
}

#vic-container {
  display: flex;
  /* background: #888; */
  justify-content: center;
  align-content: center;
}

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  /* This sets the height of the container to the full viewport height */
  text-align: center;
  /* This centers the text inside each child element */
}

.card-victypes {
  /* width: 50rem; */
  margin: 1em;
  flex-wrap: nowrap;
  align-self: center;
  justify-self: center;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
}

/* 
.card {
  width: 300px;
  margin: 1em;
} */

.image {
  display: inline-block;
  object-fit: cover;
  object-position: center;
  justify-self: center;
  /* height: 400px; */
  width: 40rem;
  box-shadow: 0 0 5px black;
  /* width: 100px; */
  /* 80px 40px;
  background-position-y: center; */
}

.card-body {
  margin-left: 30px;
}

.card-title {
  font-size: 30px;
  display: block;
  /* text-align: center; */
}

.btn-primary {
  display: flex;
  justify-content: center;
  width: 90px;
  background-color: rgba(128, 128, 128, 0.4);
}

.card-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-form {
  max-width: 1200px;
  margin: 0 auto;
}

.type-container {
  width: 80%;
  /* background: #888; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
}
.card-img-region {
  width: 200px;
}

#region-container {
  display: flex;
  flex-direction: row;
}

