* {
    margin: 0%;
    padding: 0%;
    background-color: black;
}

.main {
  background-color: aqua;
}

li {
  padding: 2px 2px 10px 2px;
  text-align: center;
}

.navbar-link {
  background-color: red;
  color: white;

}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f3eded;
    height: 100vh;    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  } */
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    

  } 
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .modalImg {
    height: 75vh;
    object-fit: contain;
    object-position: center;
  }

.modal{
  width:100%;
  flex-wrap: nowrap;
  align-self: center;
  justify-self: center;
  -bs-modal-width: 0px !important;
}

  .modal-content {
    width: 50vw;
  }