.container {
    background-color: purple;
    display: flex;
    /* flex-wrap: nowrap; */
    align-content: center;
    justify-content: center;

}

/* .logo {
    margin: .2rem .5rem;
    flex-wrap: nowrap;
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    background-color: #888;
    font-family: 'Tektur', sans-serif;
}

.logo>p {
    background-color: #888;
}

.logo:hover {
    text-shadow: 3px 3px 18px rgb(215, 247, 247), 8px 8px 5px rgb(42, 43, 44);
    font-weight: 600;
    color: white;
    font-family: 'Audiowide', sans-serif;
}

.logo>link {
    margin: .2rem .5rem;
    flex-wrap: nowrap;
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    color: rgb(15, 71, 121);

    font-family: 'Tektur', sans-serif;
}

.logo>link:hover {
    text-shadow: 3px 3px 18px rgb(215, 247, 247), 8px 8px 5px rgb(42, 43, 44);
    font-weight: 600;
    color: white;
    font-family: 'Audiowide', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid white;
    background-color: #888;
    align-items: center;
    height: 5rem;
    position:fixed ;
    width: 100vw;
    top: 0;
} */

.nav {
    display: flex;

    color: rgb(15, 71, 121);
    padding: 2rem;
    height: 3rem;
    font-size: 2rem;
}

.logo {
    list-style: none;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    color: rgb(15, 71, 121);
    border-radius: 16px;
}

.nav:hover {
    color: rgb(15, 71, 121);
}